/* D3 graph styles */

.graph-axis path,
.graph-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.graph-axis-small {
    font-size: 10px;
}

.instance-block {
    fill: #FAFAFA;
    stroke: #111;
    shape-rendering: crispEdges;
}

.task-block {
    stroke: grey;
    shape-rendering: crispEdges;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 525px;
    padding-left: 2px;
    padding-right: 2px;
}

.chart {
    flex-basis: max-content;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 2px;
    padding-right: 2px;
}

.legend {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 2px;
    padding-right: 2px;
}

/* Bootstrap overrides */

.navbar-text-closer-right {
    margin-right: 0;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
