/* D3 graph styles */

.graph-axis path,
.graph-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.graph-axis-small {
    font-size: 10px;
}

.instance-block {
    fill: #FAFAFA;
    stroke: #111;
    shape-rendering: crispEdges;
}

.task-block {
    stroke: grey;
    shape-rendering: crispEdges;
}

#div-legend {
    overflow-y: auto;
    overflow-x: hidden;
    height: 525px;
}

/* Bootstrap overrides */

.navbar-text-closer-right {
    margin-right: 0;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
